C 0 0 "VCC" 0 0 0 0 60 0 L
X "PIN_TEXT" "VCC" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "MPPSET" 0 -100 0 0 60 0 L
X "PIN_TEXT" "MPPSET" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "STAT1" 0 -200 0 0 60 0 L
X "PIN_TEXT" "STAT1" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "TS" 0 -300 0 0 60 0 L
X "PIN_TEXT" "TS" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 400 -1100 "STAT2" 400 -1100 0 0 60 0 L
X "PIN_TEXT" "STAT2" 430 -870 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -900 400 -1100 -1 0
C 500 -1100 "VREF" 500 -1100 0 0 60 0 L
X "PIN_TEXT" "VREF" 530 -870 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -900 500 -1100 -1 0
C 600 -1100 "TERM_EN" 600 -1100 0 0 60 0 L
X "PIN_TEXT" "TERM_EN" 630 -870 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -900 600 -1100 -1 0
C 700 -1100 "VFB" 700 -1100 0 0 60 0 L
X "PIN_TEXT" "VFB" 730 -870 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -900 700 -1100 -1 0
C 1200 0 "REGN" 1200 0 0 0 60 0 R
X "PIN_TEXT" "REGN" 970 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 0 1200 0 -1 0
C 1200 -100 "GND" 1200 -100 0 0 60 0 R
X "PIN_TEXT" "GND" 970 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -100 1200 -100 -1 0
C 1200 -200 "SRP" 1200 -200 0 0 60 0 R
X "PIN_TEXT" "SRP" 970 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -200 1200 -200 -1 0
C 1200 -300 "SRN" 1200 -300 0 0 60 0 R
X "PIN_TEXT" "SRN" 970 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -300 1200 -300 -1 0
C 400 700 "EP" 400 700 0 0 60 0 R
X "PIN_TEXT" "EP" 430 470 90 0.00 60 0 0 2 0 0 1 0 74
L 400 500 400 700 -1 0
C 500 700 "BTST" 500 700 0 0 60 0 R
X "PIN_TEXT" "BTST" 530 470 90 0.00 60 0 0 2 0 0 1 0 74
L 500 500 500 700 -1 0
C 600 700 "HIDRV" 600 700 0 0 60 0 R
X "PIN_TEXT" "HIDRV" 630 470 90 0.00 60 0 0 2 0 0 1 0 74
L 600 500 600 700 -1 0
C 700 700 "PH" 700 700 0 0 60 0 R
X "PIN_TEXT" "PH" 730 470 90 0.00 60 0 0 2 0 0 1 0 74
L 700 500 700 700 -1 0
C 800 700 "LODRV" 800 700 0 0 60 0 R
X "PIN_TEXT" "LODRV" 830 470 90 0.00 60 0 0 2 0 0 1 0 74
L 800 500 800 700 -1 0
L 200 500 1000 500 -1 0
L 1000 -900 1000 500 -1 0
L 1000 -900 200 -900 -1 0
L 200 500 200 -900 -1 0
P "$LOCATION" "?" 1050 670 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

