C 1900 0 "GND_1" 1900 0 0 0 60 0 R
X "PIN_TEXT" "GND_1" 1670 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 0 1900 0 -1 0
C 1900 -100 "GND_2" 1900 -100 0 0 60 0 R
X "PIN_TEXT" "GND_2" 1670 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -100 1900 -100 -1 0
C 1900 -200 "PRIMARY_DOT" 1900 -200 0 0 60 0 R
X "PIN_TEXT" "PRIMARY_DOT" 1670 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -200 1900 -200 -1 0
C 0 -200 "SECONDARY" 0 -200 0 0 60 0 L
X "PIN_TEXT" "SECONDARY" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -100 "SECONDARY_DOT" 0 -100 0 0 60 0 L
X "PIN_TEXT" "SECONDARY_DOT" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 0 "NOT_USED" 0 0 0 0 60 0 L
X "PIN_TEXT" "NOT_USED" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
L 200 100 1700 100 -1 0
L 1700 -300 1700 100 -1 0
L 1700 -300 200 -300 -1 0
L 200 100 200 -300 -1 0
P "$LOCATION" "?" 1750 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

